{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">

</head>

<style>
.center {
  margin: auto;
  width:25%;
  padding: 50px;
}
</style>
<script>
      function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = 0;
            location.replace("https://webchat.snatchbot.me/03b4a6daa884ac692cc8ab9fb6503aa078315a1510221b7c9720fbb9d98263f4")
                  }

    }, 1000);
}

window.onload = function () {
    var fiveMinutes = 10 * 1,
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
};
</script>

</script>

<body>
<h1 style="text-align:center">Quiz will start automatically after</h1>
<h3 style="text-align:center"><span id="time">00:10</span> minutes!</h3>
<div class="">
    <!--    <img src="static/images/waiting_quiz.jpg" width="50%">-->
    <h5 style="text-align:center"><span id="Start"></span></h5>
    <div></div>

</div>
</div>
<form action="https://webchat.snatchbot.me/03b4a6daa884ac692cc8ab9fb6503aa078315a1510221b7c9720fbb9d98263f4"
      class="center" style="text-align:center;"><input type="submit" value="Attempt"
                                                       class="btn btn-light"></form>
<h5 style="text-align:center">Don't leave this page!!!</h5>
</div>
</body>
</html>


