{% load static%}

<html lang="en">
<style>


body {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

img{
width:60%;
height:60%;
border-radius: 75%;
}


</style>
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">


</head>
<body style="background-color: #F0F0F0">
{% include 'screens/homepage_assets/navbar.html' %}
<div class="container" style="background-color:white;padding:5%;">
    <h3 style="text-align:center;">About Us</h3>
    <small class="text-muted d-block" style="text-align:center;">Learn about our Team</small>
    <div class="row" STYLE=" padding:5%; height:50%;">
        <div class="col-sm-4" style="text-align:center;">
            <img src="static/images/Mohamed Adel.jpg">
            <h6>Mohamed Adel</h6>
            <div style="font-size:75%">
                <p>student of Misr International University</p>
                <p>faculty of Computer Science</p>
                <p>Cairo, Egypt</p>
                <p>Mohamed1710193@miuegypt.edu.eg</p>
                <a href="https://www.linkedin.com/in/mohamed-adel-292857210/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <div class="col-sm-4" style="text-align:center;">
            <img src="static/images/Kareem Atef.jpg">
            <h6>Kareem Atef</h6>
            <div style="font-size:75%">
                <p>student of Misr International University</p>
                <p>faculty of Computer Science</p>
                <p>Cairo, Egypt</p>
                <p>Kareem1703594@miuegypt.edu.eg</p>
                <a href="http://linkedin.com/in/kareem-kareem-8a7b42195"><i class="fa fa-linkedin"></i></a>

            </div>
        </div>
        <div class="col-sm-4" style="text-align:center;">
            <img src="static/images/Abdelrahman Mohamed.jpg">
            <h6>Abdelrahman Mohamed</h6>
            <div style="font-size:75%">
                <p>student of Misr International University</p>
                <p>faculty of Computer Science</p>
                <p>Cairo, Egypt</p>
                <p>Abdelrahman1708919@miuegypt.edu.eg</p>
                <a href="http://linkedin.com/in/abdelrahman-mohamed-10910b1b1"><i class="fa fa-linkedin"></i></a>

            </div>
        </div>
    </div>
    <br><br>
    <div class="row" STYLE=" padding:5%; height:50%;">
        <div class="col-sm-4" style="text-align:center;">
            <img src="static/images/Ahmed Hisham.jpg">
            <h6>Ahmed Hesham</h6>
            <div style="font-size:75%">
                <p>student of Misr International University</p>
                <p>faculty of Computer Science</p>
                <p>Cairo, Egypt</p>
                <p>Ahmed1709091@miuegypt.edu.eg</p>
                <a href="https://www.linkedin.com/in/ahmed-hisham-859856210"><i class="fa fa-linkedin"></i></a>

            </div>
        </div>
        <div class="col-sm-4" style="text-align:center;">
            <img src="static/images/Mohamed Akram.jpg">
            <h6>Mohamed Akram</h6>
            <div style="font-size:75%">
                <p>student of Misr International University</p>
                <p>faculty of Computer Science</p>
                <p>Cairo, Egypt</p>
                <p>Mohamed1700772@miuegypt.edu.eg</p>
                <a href="https://www.linkedin.com/in/muhamed-akram-15267420b/"><i class="fa fa-linkedin"></i></a>

            </div>
        </div>

    </div>
</div>
</div>
<br>
{% include 'screens/homepage_assets/footerbar.html' %}
</body>

</html>