asgiref==3.3.4
blis==0.7.4
cachetools==4.2.1
catalogue==2.0.1
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
chatbotAI==0.3.0.0
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==7.1.2
cryptography==3.4.7
cymem==2.0.5
defusedxml==0.7.1
diff-match-patch==20200713
Django==3.2.4
django-allauth==0.44.0
django-chatbot==0.0.2.2
django-extensions==3.1.3
django-gmailapi-backend==0.3.0
django-import-export==2.5.0
django-user-messages==0.7.0
django-webcam==0.1.4b2
django-widget-tweaks==1.4.8
djongo==1.3.6
dnspython==1.16.0
et-xmlfile==1.1.0
Flask==1.1.2
google-api-core==1.26.3
google-api-python-client==2.1.0
google-auth==1.28.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
graphviz==0.16
httplib2==0.19.1
idna==2.10
importlib-metadata==3.4.0
install==1.3.4
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.3
joblib==1.0.1
MarkupPy==1.14
MarkupSafe==1.1.1
mathparse==0.1.2
murmurhash==1.0.5
nltk==3.5
numpy==1.20.1
oauthlib==3.1.1
odfpy==1.4.1
opencv-python==4.5.1.48
openpyxl==3.0.7
packaging==20.9
pathy==0.3.6
Pint==0.16.1
preshed==3.0.5
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.7.3
pydot==1.4.2
pydotplus==2.0.2
PyJWT==2.1.0
pymongo==3.11.4
pyparsing==2.4.7
python-dateutil==2.7.5
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
six==1.15.0
smart-open==3.0.0
spacy==3.0.1
spacy-legacy==3.0.1
SQLAlchemy==1.2.19
sqlparse==0.2.4
srsly==2.4.0
tablib==3.0.0
thinc==8.0.1
tqdm==4.56.2
typer==0.3.2
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.5
wasabi==0.8.2
Werkzeug==1.0.1
xlrd==2.0.1
xlwt==1.3.0
zipp==3.4.0
