{% load static%}
{% load widget_tweaks%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <title>Title</title>
</head>

{% include 'screens/homepage_assets/navbar.html' %}

<body style="background-color:#F0F0F0">
<div class="container">

    {% block content %}
    <h1>My Profile</h1>

    <form method="post" novalidate>
        {%csrf_token%}
        <label for="email">Email Name:</label>
        <p>{{user.email}}</p>
        {% include 'includes/form.html' %}
        <button onclick="submitted()" type="submit" class="btn btn-primary">Save Changes</button>
    </form>

    {% endblock %}
</div>
{% include 'screens/homepage_assets/footerbar.html' %}
</body>

<script>
function submitted() {
  alert("Your profile info. has been updated successfully");
}

</script>