{% load static%}
{% load socialaccount %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<style>
    ul {
  display: table;
  margin: 0 auto;
  text-align:center

}

@keyframes fadeIn {
  from { opacity: 0; }
}

.animate-flicker {
    animation: fadeIn 1s infinite alternate;
}







</style>

<!--GUEST-->
{%if user.username == "" and user.is_staff == False%}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="animate-flicker navbar-brand" style="color:#8D8887; font-family: 'Times New Roman';"
           href="{% url 'index'%}">HR SYSTEM</a>
        <ul style="list-style-type:none; margin-left:17.5%;">
            <li><i class="fa fa-home" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{% url 'index' %}"
                   style="margin-left:10%; font-size:75%;  margin: 0 auto; text-align:center;">Home</a></li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-mortar-board" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'find_a_job'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Find a
                Job</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-newspaper-o" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'jobs'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Jobs</a></li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-users" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'about_us'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">About Us</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-send" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'contact_us'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Contact
                Us</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-info" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'mission_and_vision'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Mission
                &
                Vision</a>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-brand" style="padding-left:25%;">
            <p style="color:#B0B0B0; font-size:75%;">Welcome Guest</p>


            <a style="color:white; font-size:75%;" class="navbar-brand" href='/accounts/login/'>Login <i
                    class="fa fa-sign-in"></i></a>
            <a style="color:white; font-size:75%;" class="navbar-brand" href="{% provider_login_url 'google' %}">Sign
                up</a>
        </div>
    </div>
</nav>
{% endif %}


<!--Applicant-->
{%if user.username != "" and user.is_staff == False%}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="animate-flicker navbar-brand" href="{% url 'index' %}"
           style="padding-right:0.7%; color:#8D8887;font-family: 'Times New Roman';">HR SYSTEM</a>

        <ul style="list-style-type:none; margin-left:17.5%;">
            <li><i class="fa fa-home" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{% url 'index' %}"
                   style="margin-left:10%; font-size:75%;  margin: 0 auto; text-align:center;">Home</a></li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-mortar-board" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'find_a_job'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Find a
                Job</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-newspaper-o" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'jobs'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Jobs</a></li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-users" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'about_us'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">About Us</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-send" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'contact_us'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Contact
                Us</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-info" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'mission_and_vision'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Mission
                &
                Vision</a>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand" style="margin-left:25%;">
            <p style="color:#B0B0B0; font-size:75%;">Welcome {{ user.first_name }}</p>

            <a style="color:white; font-size:75%;" class="navbar-brand" href="{% url 'profile'%}"><i
                    class="fa fa-user"></i> Profile</a>

            <a style="color:white; font-size:75%;" class="navbar-brand" href="{% url 'logout'%}">Logout <i
                    class="fa fa-sign-out"></i></a>
        </div>
    </div>
</nav>
{% endif %}


<!--Company-->
{%if user.username != "" and user.is_staff == True and user.is_superuser == False%}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="animate-flicker navbar-brand" href="{% url 'index' %}"
           style="padding-right:5%; color:#8D8887; font-family: 'Times New Roman';">HR SYSTEM</a>

        <ul style="list-style-type:none; margin-left:8%;">
            <li><i class="fa fa-home" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{% url 'index' %}"
                   style="margin-left:10%; font-size:75%;  margin: 0 auto; text-align:center;">Home</a></li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-search" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'result_employees'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Find an Applicant</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-cloud-upload" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'add_job'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Post a Job</a>
            </li>
        </ul>


        <ul style="list-style-type:none">
            <li><i class="fa fa-users" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'about_us'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">About Us</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-send" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'contact_us'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Contact
                Us</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-info" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'mission_and_vision'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Mission
                &
                Vision</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand" style="padding-left:15%;">
            <p style="color:#B0B0B0; font-size:75%;">Welcome {{ user.first_name }}</p>

            <a style="color:white; font-size:75%;" style="color:white; font-size:75%;" class="navbar-brand"
               href="{% url 'profile'%}"><i class="fa fa-user"></i> Profile </a>

            <a style="color:white; font-size:75%;" class="navbar-brand" href="{% url 'logout'%}">Logout <i
                    class="fa fa-sign-out"></i></a>
        </div>
    </div>
</nav>
{% endif %}

<!--ADMIN-->
{%if user.username != "" and user.is_staff == True and user.is_superuser == True%}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="animate-flicker navbar-brand" href="{% url 'index' %}"
           style=" color:#8D8887; font-family: 'Times New Roman';">HR SYSTEM</a>

        <ul style="list-style-type:none; margin-left:8%;">
            <li><i class="fa fa-home" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{% url 'index' %}"
                   style="margin-left:10%; font-size:75%;  margin: 0 auto; text-align:center;">Home</a></li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-external-link" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="admin/"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Admin Website</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-users" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="admin/auth/user/"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Companies & Applicants</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-search" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'result_employees'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Find an Applicant</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-users" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'about_us'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">About Us</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-send" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'contact_us'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Contact
                Us</a>
            </li>
        </ul>
        <ul style="list-style-type:none">
            <li><i class="fa fa-info" style="font-size:24px; color:white;"></i></li>
            <li><a class="navbar-brand" href="{%url 'mission_and_vision'%}"
                   style="margin-left:10%; font-size:75%; margin: 0 auto; text-align:center;">Mission
                &
                Vision</a>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand" style="padding-left:7.5%;">
            <p style="color:#B0B0B0; font-size:75%;">Welcome Admin</p>
            <a style="color:white; font-size:75%;" style="color:white; font-size:75%;" class="navbar-brand"
               href="{% url 'profile'%}"><i class="fa fa-user"></i> Profile </a>
            <a style="color:white; font-size:75%;" class="navbar-brand" href="{% url 'logout'%}">Logout <i
                    class="fa fa-sign-out"></i></a>
        </div>
    </div>
</nav>
{% endif %}
