{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">

</head>

<style>
.center {
  margin: auto;
  width:50%;
  padding: 10px;
}
.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

</style>

<body style="background-color:#F0F0F0">

<img src="static/images/chatbot_icon.png" class="center_img">
{% block content %}
<form method="post" novalidate class="center" action="/">
    {% csrf_token %}
    <h3 style="text-align:center;">Let's start your quiz with our chatbot</h3>
    <small class="text-muted d-block" style="text-align:center;">Please concentrate during your quiz.</small>
    <div class="form-group" style="height:75%; background-color:white   ;">

    </div>
    <button type="submit" class="btn btn-success" style="float:right;">Finish</button>
    <br>
</form>
<script src="https://account.snatchbot.me/script.js"></script><script>window.sntchChat.Init(161943)</script>

{% endblock %}
</body>
</html>