{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% include 'screens/homepage_assets/navbar.html' %}

<div class="container">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">All available jobs</li>
    </ol>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Email</th>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>Description</th>
            <th>Created at</th>


        </tr>
        </thead>
        <tbody>
        {% for Job in Jobs%}
        <tr>
            <td>
                {{Job.Email}}
                <br><br>

            </td>
            <td>
                {{Job.Company_Name}}
                <br><br>
            </td>

            <td>
                {{Job.Job_Title}}
                <br><br>

            </td>

            <td>
                {{Job.Description}}
                <br><br>

            </td>

            <td>

                {{Job.Created_date}}
                <br><br>
            </td>

        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
{% include 'screens/homepage_assets/footerbar.html' %}

</body>
</html>