{% load static%}
{% load socialaccount %}

<!--GUEST-->
{%if user.username == "" and user.is_staff == False%}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" style="color:#8D8887; font-family: 'Times New Roman';" href="{% url 'index'%}">HR
            SYSTEM</a>
        <a class="navbar-brand" href="{% url 'index' %}" style="margin-left:25%; font-size:75%;">Home</a>
        <a class="navbar-brand" href="{%url 'find_a_job'%}" style="font-size:75%;">Find a Job</a>
        <a class="navbar-brand" href="{%url 'jobs'%}" style="font-size:75%;">Jobs</a>
        <a class="navbar-brand" href="{%url 'about_us'%}" style="font-size:75%;">About Us</a>
        <a class="navbar-brand" href="{%url 'contact_us'%}" style="font-size:75%;">Contact Us</a>
        <a class="navbar-brand" href="{%url 'mission_and_vision'%}" style="font-size:75%;">Mission & Vision</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-brand" style="padding-left:25%;">
            <p style="color:#B0B0B0; font-size:75%;">Welcome Guest</p>


            <a style="color:white; font-size:75%;" class="navbar-brand" href='accounts/login/'>Login</a>
            <a style="color:white; font-size:75%;" class="navbar-brand" href="{% provider_login_url 'google' %}">Sign up</a>
        </div>
    </div>
</nav>
{% endif %}


<!--Applicant-->
{%if user.username != "" and user.is_staff == False%}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"
           style="padding-right:0.7%; color:#8D8887;font-family: 'Times New Roman';">HR SYSTEM</a>

        <a class="navbar-brand" href="{% url 'index' %}" style="margin-left:20%; font-size:75%;">Home</a>
        <a class="navbar-brand" href="{%url 'find_a_job'%}" style="font-size:75%;">Find a Job</a>
        <a class="navbar-brand" href="{%url 'jobs'%}" style="font-size:75%;">Jobs</a>
        <a class="navbar-brand" href="{%url 'about_us'%}" style="font-size:75%;">About Us</a>
        <a class="navbar-brand" href="{%url 'contact_us'%}" style="font-size:75%;">Contact Us</a>
        <a class="navbar-brand" href="{%url 'mission_and_vision'%}" style="font-size:75%;">Mission & Vision</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand" style="margin-left:25%;">
            <p style="color:#B0B0B0; font-size:75%;">Welcome {{ user.first_name }}</p>
            <a style="color:white; font-size:75%;" class="navbar-brand" href="{% url 'logout'%}">Logout</a>
            <a style="color:white; font-size:75%;" class="navbar-brand" href="{% url 'profile'%}">Profile</a>
        </div>
    </div>
</nav>
{% endif %}


<!--Company-->
{%if user.username != "" and user.is_staff == True and user.is_superuser == False%}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"
           style="padding-right:10%; color:#8D8887; font-family: 'Times New Roman';">HR SYSTEM</a>

        <a class="navbar-brand" href="{% url 'index' %}" style="margin-left:10%; font-size:75%;">Home</a>
        <a class="navbar-brand" href="{%url 'result_employees'%}" style="font-size:75%;">Find an Applicant</a>
        <a class="navbar-brand" href="{%url 'add_job'%}" style="font-size:75%;">Post a Job</a>
        <a class="navbar-brand" href="{%url 'about_us'%}" style="font-size:75%;">About Us</a>
        <a class="navbar-brand" href="{%url 'contact_us'%}" style="font-size:75%;">Contact Us</a>
        <a class="navbar-brand" href="{%url 'mission_and_vision'%}" style="font-size:75%;">Mission & Vision</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand" style="padding-left:22.5%;">
            <p style="color:#B0B0B0; font-size:75%;">Welcome {{ user.first_name }}</p>
            <a style="color:white; font-size:75%;" class="navbar-brand" href="{% url 'logout'%}">Logout</a>
            <a style="color:white; font-size:75%;" style="color:white; font-size:75%;" class="navbar-brand"
               href="{% url 'profile'%}">Profile</a>
        </div>
    </div>
</nav>
{% endif %}

<!--ADMIN-->
{%if user.username != "" and user.is_staff == True and user.is_superuser == True%}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"
           style="padding-right:0%; color:#8D8887; font-family: 'Times New Roman';">HR SYSTEM</a>

        <a class="navbar-brand" href="{% url 'index' %}" style="margin-left:10%; font-size:75%;">Home</a>
        <a class="navbar-brand" href="admin" style="font-size:75%;">Admin Website</a>
        <a class="navbar-brand" href="admin/auth/user/" style="font-size:75%;">Companies & Applicants</a>
        <a class="navbar-brand" href="{%url 'result_employees'%}" style="font-size:75%;">Find an Applicant</a>
        <a class="navbar-brand" href="{%url 'about_us'%}" style="font-size:75%;">About Us</a>
        <a class="navbar-brand" href="{%url 'contact_us'%}" style="font-size:75%;">Contact Us</a>
        <a class="navbar-brand" href="{%url 'mission_and_vision'%}" style="font-size:75%;">Mission & Vision</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand" style="padding-left:17.5%;">
            <p style="color:#B0B0B0; font-size:75%;">Welcome Admin</p>
            <a style="color:white; font-size:75%;" class="navbar-brand" href="{% url 'logout'%}">Logout</a>
            <a style="color:white; font-size:75%;" style="color:white; font-size:75%;" class="navbar-brand"
               href="{% url 'profile'%}">Profile</a>
        </div>
    </div>
</nav>
{% endif %}
